.radial-yellow {
  background: -webkit-radial-gradient(#fff, rgba(245, 245, 91, 0.6));
  background: -o-radial-gradient(#fff, rgba(245, 245, 91, 0.6));
  background: -moz-radial-gradient(#fff, rgba(245, 245, 91, 0.6));
  background: radial-gradient(#fff, rgba(245, 245, 91, 0.6));
}


.moving {
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
}


@-webkit-keyframes mover {
  0% { transform: scaleX(1) scaleY(1); }
  50% { transform: scaleX(1.03) scaleY(1.03); }
  100% { transform: scaleX(1) scaleY(1); }
}
@keyframes mover {
  0% { transform: scaleX(1) scaleY(1); }
  50% { transform: scaleX(1.03) scaleY(1.03); }
  100% { transform: scaleX(1) scaleY(1); }
}


.black-text-shadow {
  text-shadow: none;
  transition: all 150ms;
}

.black-text-shadow:hover {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.159);
  transition: all 150ms;
}


.text-shadow-none {
  text-shadow: none;
  -webkit-text-stroke: none;
}