* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 80px;
}


#navbar {
    background-color: #65a47a;
    display: flex;
    align-items: center;
    justify-content: center;
}


#navbar li {
    list-style: none;
    padding: 0 1.25rem;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

#navbar li:hover ,
#navbar li.active:hover {
    color : black;
}

#navbar li.active {
    color : yellow;
}


#mobile {
    display: none;
}

#mobile i {
    color : #fff;
    align-items: center;
}


@media screen  and (max-width : 1025px ){
    #navbar {
        display : flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top : 0;
        right : -300px;
        width: 300px;
        height: 100vh;
        transition: all 0.5s;
    }

    #navbar.active {
        right : 0px;
        transition: all 0.5s;

    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: block;
    }
}